* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}

.card {
    width: 500px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   padding: 10px;
   position: relative;
   
}

.imagem1 {
    width: 70px;
    padding-left: 10px;
}

.imagem2 {
    width: 10px;
    padding-left: 10px;

}
   