* {

}

.login{
    background: #362b69;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    
}

.user-login {
    align-items: center;
    background-color: black;
    color: aliceblue;
    width: 100px;   
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
}

input {
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: rgb(84, 84, 84);
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
}
